<span>Select:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="all" [(ngModel)]="selectedFilterRadioButton">
  <label class="form-check-label" for="inlineRadio1">{{'All ('+ all+')'}}</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="true">
  <label class="form-check-label" for="inlineRadio2">{{'Instack (' + inStack +')'}}</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="false">
  <label class="form-check-label" for="inlineRadio3">{{'Out of stack ('+ outOfStack +')'}}</label>
</div>
