<input type="text" #inputEl><br/><br/>
<input type="text" #inputEl><br/><br/>
<input type="text" #inputEl><br/><br/>
<button (click)="getdata()">submit</button>
<p>---------------------------------------------</p>

<input type="text" #inputChildren><br/><br/>
<input type="text"  #inputChildren><br/><br/>
<input type="text"  #inputChildren><br/><br/>
<button (click)="getChildrenData()">Get full name</button>
<h1>{{fullName}}</h1>

<app-interpolation></app-interpolation>

<app-directives></app-directives>
